Validation/commons/Clarification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:org="http://roskazna.ru/gisgmp/xsd/Organization/2.4.0"
	xmlns:com="http://roskazna.ru/gisgmp/xsd/Common/2.4.0"
	xmlns:clrf="http://roskazna.ru/gisgmp/xsd/Clarification/2.4.0"
	targetNamespace="http://roskazna.ru/gisgmp/xsd/Clarification/2.4.0"
	elementFormDefault="qualified">
	<xsd:import namespace="http://roskazna.ru/gisgmp/xsd/Organization/2.4.0"
		schemaLocation="Organization.xsd"/>
	<xsd:import namespace="http://roskazna.ru/gisgmp/xsd/Common/2.4.0" schemaLocation="Common.xsd"/>
	<xsd:complexType name="AbstractClarificationType" abstract="true"/>
	<xsd:complexType name="paymentDetailType">
		<xsd:annotation>
			<xsd:documentation>Тип для хранения реквизитов уточняемого платежного документа, которые могут быть уточнены, или новых (уточненных) реквизитов.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="payeeName">
			<xsd:annotation>
				<xsd:documentation>Указывается наименование получателя уточняемого распоряжения.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="500"/>
					<xsd:pattern value="\S+([\S\s]*\S+)*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="inn" type="com:INNType">
			<xsd:annotation>
				<xsd:documentation>Указывается идентификационный номер налогоплательщика - получателя средств.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="kpp" type="com:KPPType">
			<xsd:annotation>
				<xsd:documentation>Указывается код причины постановки на учет в налоговом органе получателя средств.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="payeeAccount" type="com:PayeeAccountType">
			<xsd:annotation>
				<xsd:documentation>Указывается лицевой счет получателя средств.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="oktmo" type="com:OKTMOType">
			<xsd:annotation>
				<xsd:documentation>Указывается 8-значный код по Общероссийскому классификатору территорий муниципальных образований.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="kbk" type="com:KBKType">
			<xsd:annotation>
				<xsd:documentation>Указывается код классификации доходов бюджетов, в соответствии с действующей бюджетной классификацией Российской Федерации.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="subsidy">
			<xsd:annotation>
				<xsd:documentation>Указывается код цели субсидии (субвенции).</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="25"/>
					<xsd:pattern value="\w+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="purpose">
			<xsd:annotation>
				<xsd:documentation>Указывается назначение платежа.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="210"/>
					<xsd:pattern value="\S+([\S\s]*\S+)*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="description">
			<xsd:annotation>
				<xsd:documentation>Указывается прочая необходимая информация.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="210"/>
					<xsd:pattern value="\S+([\S\s]*\S+)*"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="originalDetailType">
		<xsd:annotation>
			<xsd:documentation>Тип для хранения реквизитов уточняемого платежного документа, которые могут быть уточнены.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="clrf:paymentDetailType">
				<xsd:attribute name="amount" type="xsd:unsignedLong" use="required">
					<xsd:annotation>
						<xsd:documentation>Целое число, показывающее сумму в копейках.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="setDetailType">
		<xsd:annotation>
			<xsd:documentation>Тип для хранения реквизитов уточняемого платежного документа, которые могут быть уточнены.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="clrf:paymentDetailType">
				<xsd:attribute name="amount" type="xsd:unsignedLong">
					<xsd:annotation>
						<xsd:documentation>Целое число, показывающее сумму в копейках.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ClarificationApplicationType">
		<xsd:annotation>
			<xsd:documentation>Тип для хранения реквизитов платежного документа.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OriginalDetails" type="clrf:originalDetailType">
				<xsd:annotation>
					<xsd:documentation>Реквизиты уточняемого платежного документа.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SetDetails" type="clrf:setDetailType">
				<xsd:annotation>
					<xsd:documentation>Новые реквизиты платежного документа.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="ordinalNumber" use="required">
			<xsd:annotation>
				<xsd:documentation>Указывается уникальный цифровой порядковый номер строки распоряжения в пределах оформляемого распоряжения.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="7"/>
					<xsd:pattern value="\w+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="applicationName">
			<xsd:annotation>
				<xsd:documentation>Указывается наименование уточняемого документа.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="160"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="appCode">
			<xsd:annotation>
				<xsd:documentation>Код платежного документа</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="PP">
						<xsd:annotation>
							<xsd:documentation>Платежное поручение</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="PL">
						<xsd:annotation>
							<xsd:documentation>Поручение о перечислении на счет</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="ZR">
						<xsd:annotation>
							<xsd:documentation>Заявка на кассовый расход</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="ZK">
						<xsd:annotation>
							<xsd:documentation>Сводная заявка на кассовый расход (для уплаты налогов)</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="ZS">
						<xsd:annotation>
							<xsd:documentation>Заявка на получение наличных денег</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="ZN">
						<xsd:annotation>
							<xsd:documentation>Заявка на получение денежных средств, перечисляемых на карту</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="UF">
						<xsd:annotation>
							<xsd:documentation>Уведомление об уточнении вида и принадлежности платежа</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="ZV">
						<xsd:annotation>
							<xsd:documentation>Заявка на возврат</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="appNum">
			<xsd:annotation>
				<xsd:documentation>Номер уточняемого платежного документа.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="20"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="appDate" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Дата уточняемого платежного документа.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="incomeId" type="com:IncomeIdType">
			<xsd:annotation>
				<xsd:documentation>Указывается УИЗ извещения о зачислении, в отношении которого формируется уведомление об уточнении вида и принадлежности платежа.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="applicationNumber">
			<xsd:annotation>
				<xsd:documentation>Указывается номер распоряжения, полученного территориальным органом Федерального казначейства в качестве приложения к выписке из казначейского счета.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="1"/>
					<xsd:maxLength value="15"/>
					<xsd:pattern value="\d+"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="applicationDate" type="xsd:date">
			<xsd:annotation>
				<xsd:documentation>Указывается дата распоряжения, полученного территориальным органом Федерального казначейства в качестве приложения к выписке из казначейского счета.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="SignsClarificationType">
		<xsd:annotation>
			<xsd:documentation>Тип для хранения подписей</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HeadPost" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Руководитель (уполномоченное лицо), должность</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
						<xsd:pattern value="\S+([\S\s]*\S+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="HeadName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Руководитель (уполномоченное лицо), расшифровка подписи</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
						<xsd:pattern value="\S+([\S\s]*\S+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ExecutorPost" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Ответственный исполнитель, должность</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
						<xsd:pattern value="\S+([\S\s]*\S+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ExecutorName" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>ФИО ответственного исполнителя</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
						<xsd:pattern value="\S+([\S\s]*\S+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ExecutorNum" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Телефон ответственного исполнителя</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
						<xsd:pattern value="\S+([\S\s]*\S+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="SignDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Указывается дата подписания распоряжения.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TOFKheadPost" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ТОФК Руководитель (уполномоченное лицо), должность</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
						<xsd:pattern value="\S+([\S\s]*\S+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TOFKheadName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ТОФК Руководитель (уполномоченное лицо), расшифровка подписи</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
						<xsd:pattern value="\S+([\S\s]*\S+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TOFKexecutorPost" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Должность исполнителя ТОФК</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="100"/>
						<xsd:pattern value="\S+([\S\s]*\S+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TOFKexecutorName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Исполнитель ТОФК</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
						<xsd:pattern value="\S+([\S\s]*\S+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TOFKexecutorNum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Телефон исполнителя ТОФК</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
						<xsd:pattern value="\S+([\S\s]*\S+)*"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="TOFKsignDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата отметки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ClarificationType">
		<xsd:annotation>
			<xsd:documentation>Данные нового уточнения вида и принадлежности платежа</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="clrf:AbstractClarificationType">
				<xsd:sequence>
					<xsd:element name="ClarificationApplication"
						type="clrf:ClarificationApplicationType" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>Реквизиты платежного документа</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Signs" type="clrf:SignsClarificationType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Подписи и отметка ТОФК</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="clarificationNumber" use="required">
					<xsd:annotation>
						<xsd:documentation>Указывается уникальный цифровой порядковый номер распоряжения о совершении казначейского платежа (далее - распоряжение), присвоенный прямым участником системы казначейских платежей, в пределах даты составления распоряжения.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="15"/>
							<xsd:minLength value="1"/>
							<xsd:pattern value="\w+"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="clarificationDate" type="xsd:date" use="required">
					<xsd:annotation>
						<xsd:documentation>Указывается дата составления распоряжения, не превышающая дату его представления в орган Федерального казначейства. В распоряжении на бумажном носителе указываются день, месяц и год составления распоряжения цифрами в формате "ДД.ММ.ГГГГ". В распоряжении в электронной форме указываются день, месяц и год составления распоряжения цифрами.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="clarificationId" type="com:ClarificationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Идентификатор уточнении вида и принадлежности платежа - УВПП</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="paymentId" type="com:PaymentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>УПНО(УИП)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="supplierBillID">
					<xsd:annotation>
						<xsd:documentation>УИН</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:union memberTypes="com:SupplierBillIDType">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="0"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:union>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="authorAccount" type="com:PayeeAccountType" use="required">
					<xsd:annotation>
						<xsd:documentation>Номер лицевого счета ПБС/АДБ/АИФДБ. Указывается номер лицевого счета прямого участника системы казначейских платежей, соответствующий номеру лицевого счета, открытого в территориальном органе Федерального казначейства.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="authorName" use="required">
					<xsd:annotation>
						<xsd:documentation>Указывается наименование получателя бюджетных средств, администратора доходов бюджета или администратора источников финансирования дефицита бюджета - прямого участника системы казначейских платежей, формирующего распоряжение.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="2000"/>
							<xsd:pattern value="\S+([\S\s]*\S+)*"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="codeUBP" type="org:kodUBPType" use="required">
					<xsd:annotation>
						<xsd:documentation>Указывается уникальный код плательщика - прямого участника системы казначейских платежей в соответствии со Сводным реестром</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="mainAuthorName">
					<xsd:annotation>
						<xsd:documentation>Указывается полное наименование главного распорядителя бюджетных средств, главного администратора доходов бюджета или главного администратора источников финансирования дефицита бюджета, в ведении которого находится прямой участник системы казначейских платежей, формирующий распоряжение</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="2000"/>
							<xsd:pattern value="\S+([\S\s]*\S+)*"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="kbkGlavaCode">
					<xsd:annotation>
						<xsd:documentation>Указывается код главы по бюджетной классификации вышестоящего участника бюджетного процесса, в ведении которого находится прямой участник системы казначейских платежей, в соответствии со Сводным реестром.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:pattern value="\d{3}"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="budgetLevel" use="required">
					<xsd:annotation>
						<xsd:documentation>Уровень бюджета. Допустимые значения: 1 - «федеральный»; 2 – «бюджет субъекта РФ»; 3 – «местный бюджет»; 4 – «бюджет ГВФ РФ»; 5 – «бюджет ТГВФ РФ»; 6 – «средства ЮЛ».</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="1"/>
							<xsd:enumeration value="2"/>
							<xsd:enumeration value="3"/>
							<xsd:enumeration value="4"/>
							<xsd:enumeration value="5"/>
							<xsd:enumeration value="6"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="okpo" use="required">
					<xsd:annotation>
						<xsd:documentation>Указывается код финансового органа, органа управления государственным внебюджетным фондом по Общероссийскому классификатору предприятий и организаций.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:pattern value="\d{8}"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="finBodyAccount" type="com:PayeeAccountType">
					<xsd:annotation>
						<xsd:documentation>Указывается номер лицевого счета прямого участника системы казначейских платежей (финансового органа), соответствующий номеру лицевого счета, открытого в территориальном органе Федерального казначейства.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="financialBody" use="required">
					<xsd:annotation>
						<xsd:documentation>Указывается:для прямого участника системы казначейских платежей, являющегося участником бюджетного процесса федерального уровня, - "Министерство финансов Российской Федерации"; для прямого участника системы казначейских платежей, являющегося участником бюджетного процесса субъекта Российской Федерации, муниципального образования, государственного внебюджетного фонда - полное наименование финансового органа соответствующего бюджета, органа управления государственным внебюджетным фондом.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="2000"/>
							<xsd:pattern value="\S+([\S\s]*\S+)*"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="tofkName" use="required">
					<xsd:annotation>
						<xsd:documentation>Указывается полное наименование территориального органа Федерального казначейства, в котором осуществляется обслуживание лицевого счета прямого участника системы казначейских платежей.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="2000"/>
							<xsd:pattern value="\S+([\S\s]*\S+)*"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="tofkCode" use="required">
					<xsd:annotation>
						<xsd:documentation>Указывается код территориального органа Федерального казначейства, в котором осуществляется обслуживание лицевого счета прямого участника системы казначейских платежей, присвоенный Федеральным казначейством.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:pattern value="\d{4}"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="payerName">
					<xsd:annotation>
						<xsd:documentation>Указывается наименование учреждения, организации-плательщика или фамилия, имя, отчество физического лица - плательщика в соответствии с полученным территориальным органом Федерального казначейства в качестве приложения к выписке из казначейского счета распоряжением.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="2000"/>
							<xsd:pattern value="\S+([\S\s]*\S+)*"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="payerIdentifier" type="com:PayerIdentifierType">
					<xsd:annotation>
						<xsd:documentation>Указывается идентификационный номер плательщика.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="inn" type="com:INNAllType">
					<xsd:annotation>
						<xsd:documentation>Указывается ИНН плательщика.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="kpp" type="com:KPPType">
					<xsd:annotation>
						<xsd:documentation>Указывается код причины постановки на учет в налоговом органе плательщика.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="payerDocument">
					<xsd:annotation>
						<xsd:documentation>Указываются для физического лица - плательщика - серия и номер паспорта, кем и когда выдан соответствующий документ в соответствии с полученным территориальным органом Федерального казначейства в качестве приложения к выписке из казначейского счета распоряжением (при необходимости). Для учреждения, организации-плательщика строка не заполняется.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="1000"/>
							<xsd:pattern value="\S+([\S\s]*\S+)*"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="payerAccount">
					<xsd:annotation>
						<xsd:documentation>Указывается номер банковского счета или казначейского счета плательщика</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="34"/>
							<xsd:minLength value="1"/>
							<xsd:pattern value="[A-Z0-9]+"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="findingoutRequestNum">
					<xsd:annotation>
						<xsd:documentation>Указывается номер Запроса на выяснение принадлежности платежа, направленного прямому участнику системы казначейских платежей.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="15"/>
							<xsd:minLength value="1"/>
							<xsd:pattern value="\w+"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="findingoutRequestDate" type="xsd:date">
					<xsd:annotation>
						<xsd:documentation>Указывается дата Запроса на выяснение принадлежности платежа, направленного прямому участнику системы казначейских платежей.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
